<head>
	<meta charset="UTF-8">
	<title>Thymeleaf ile CSS ve JS Ekleme</title>
	<link th:href="@{welcome.css}" rel="stylesheet" />
</head>
<td class="esd-stripe" align="center">
	<table class="es-content-body" style="background-color: #ffffff; background-image: url(https://tlr.stripocdn.email/content/guids/CABINET_0e8fbb6adcc56c06fbd3358455fdeb41/images/vector_0Ia.png); background-repeat: no-repeat; background-position: center center;" width="600" cellspacing="0" cellpadding="0" bgcolor="#ec2d27" align="center" background="https://tlr.stripocdn.email/content/guids/CABINET_0e8fbb6adcc56c06fbd3358455fdeb41/images/vector_0Ia.png">
		<tbody>
		<tr>
			<td class="esd-structure es-p20t es-p10b es-p20r es-p20l" align="left">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tbody>
					<tr>
						<td width="560" class="es-m-p0r esd-container-frame" valign="top" align="center">
							<table cellpadding="0" cellspacing="0" width="100%">
								<tbody>
								<tr class="es-visible-simple-html-only">
									<td align="center" class="esd-block-text es-p15 h-auto" height="74">
										<p style="color: #000000; font-size: 29px; font-family: georgia, times, 'times new roman', serif;">UY ACTION</p>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="esd-structure es-p30t es-p30b es-p20r es-p20l" align="left">
				<table width="100%" cellspacing="0" cellpadding="0">
					<tbody>
					<tr>
						<td class="es-m-p0r es-m-p20b esd-container-frame" width="560" valign="top" align="center">
							<table width="100%" cellspacing="0" cellpadding="0">
								<tbody>
								<tr>
									<td align="center" class="esd-block-text">
										<h1>&nbsp;We got a request to reset your&nbsp;password</h1>
									</td>
								</tr>
								<tr>
									<td align="center" class="esd-block-image es-p15t es-p10b" style="font-size: 0px;"><a target="_blank" href="https://viewstripo.email"><img class="adapt-img" src="https://tlr.stripocdn.email/content/guids/CABINET_dee64413d6f071746857ca8c0f13d696/images/852converted_1x3.png" alt style="display: block;" height="300"></a></td>
								</tr>
								<tr>
									<td align="center" class="esd-block-text es-p10t es-p10b">
										<p>&nbsp;Forgot your password? No problem - it happens to everyone!</p>
									</td>
								</tr>
								<tr>
									<td align="center" class="esd-block-button es-p15t es-p15b"><span class="es-button-border"><a href="https://viewstripo.email" class="es-button" target="_blank" style="font-weight: normal;"> Reset Your Password</a></span></td>
								</tr>
								<tr>
									<td align="center" class="esd-block-text es-p10t es-p10b">
										<p>If you ignore this message, your password won't be changed.</p>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</td>